  <%= render 'header' %>
  <%= link_to "Submit a movie!", new_movie_path %><br>
  <%= form_tag movies_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :title_director, params[:title_director], placeholder: "Title or Director" %>
      <%= select_tag :runtime, options_for_select([['Less than 90 Minutes', "a"], ['Between 90 and 120 Minutes', "b"], ['Greater than 120 Minutes', "c"]], @prev_choice), :include_blank => true %>
      <%= submit_tag "Search" %>
    </p>
  <% end %>
  <%= render 'movie' %>