  <h1>Rotten Mangoes</h1>
  <%= link_to "Submit a movie!", new_movie_path %><br>
  <hr>
  <%= form_tag movies_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :title, params[:title], placeholder: "Title" %>
      <%= text_field_tag :director, params[:director], placeholder: "Director" %>
      <%= select_tag :runtime, options_for_select([['Less than 90 Minutes', "a"], ['Between 90 and 120 Minutes', "b"], ['Greater than 120 Minutes', "c"]], @prev_choice), :include_blank => true %>
      <%= submit_tag "Search" %>
    </p>
  <% end %>
  <%= render 'movie' %>